PORT=5000
MONGO_URI=mongodb+srv://vignesh:viki0708@cluster0.qbb1bgw.mongodb.net/ToyLand?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=toyland_secret_key
ADMIN_USERNAME=Admin
ADMIN_PASSWORD=Admin123
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret
FRONTEND_URL=http://localhost:5173
